<div class="modal fade modal-<%= cocktail.id %>" id="modal-<%= cocktail.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><%= cocktail.name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="close" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% if cocktail.doses.first %>
        <ul>
            <% cocktail.doses.each do |dose| %>
              <li>
              <%= "#{dose.description} #{dose.ingredient.name}" %>
                <%= link_to cocktail_dose_path(cocktail,dose), method: :delete do  %>
                  <i class="fas fa-trash-alt"></i>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p><%= "Create doses" %></p>
        <% end %>
      </div>
      <div class="modal-footer">
        <%= link_to new_cocktail_dose_path(cocktail.id) do %>
          <button type="button" class="btn btn-outline-info">Add a dose</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
