<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Welcome to <strong>Cocktailmania</strong></h1>
    <p>Search for a cocktail.</p>

    <%= render 'components/form_list_cocktails' %>

    <%= link_to cocktails_path(params[:id]) do%>
    <a class="btn btn-outline-info" href="#">Search</a>
    <% end %>

  </div>
</div>
<div class="container">
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
    <a href="" data-toggle="modal" data-target="#modal-<%= cocktail.id %>">
      <div class="card-trip rounded">
        <img src="<%= cocktail.image %>" />
        <!-- <%= cl_image_tag cocktail.image, height: 300, width: 400, crop: :fill %> -->
        <div class="card-trip-infos">
          <h2><%= cocktail.name %></h2>
        </div>
      </div>
    </a>
    <%= render 'modal', cocktail: cocktail %>
    <% end %>
  </div>
</div>
